node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/*
!web-build/.keep

# macOS
.DS_Store
.env
.env.development
.env.production

# Local Netlify folder
.netlify
